$black:#000;
$darkgoldenroad:#B8860B;
$white:#FFF;
$gray9:#999;
$grayc:#ccc;
$graye:#eee;
$gray6:#666;
$darkgray:#333;
$royalblue:#4169E1;
$gold:#FFD700;
$verydarkgray:#212121;
$lightgray:#CCD;

$arial:Arial, sans-serif;
$impact: Impact, sans-serif;
